.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 74px;
  padding: 0 20px;
  background-color: $dark;
  z-index: 4;

  @media (max-height: 500px) {
    width: auto;
    right: 0;
    justify-content: flex-end;
    padding: 20px;
    background-color: transparent;
  }
}
.book__footer {
  @media (max-height: 500px) {
    width: 100%;
    justify-content: center;
    background-color: $dark;
  }
}
