html {
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$font-family: Montserrat, sans-serif;

body {
  min-height: 100vh;
}

.body {
  font-family: $font-family; /* указать шрифт под проект*/
  color: $light; /*цвет под ваш проект*/
  line-height: 1.3;
  background-color: $dark; /*цвет под ваш проект*/
  background-image: url('../img/bg-fire.svg');
  background-size: cover;
  background-position: center top 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body_gradient {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%), url('../img/bg-fire.svg');
}

img {
  max-width: 100%;
  height: auto;
}

input, button, textarea {
  font: inherit;
  outline: none;
  border: none;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*
Пример контейнера
Если контейнер 1080px по макету,
то для max-width прибавляем паддинги 30px*2,
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;

  @include tablet {
    padding: 0 35px;
  }
  @include laptop {
    padding: 0 45px;
  }
}

.hide, .hidden {
  display: none;
}

/*
У секции добавляю вертикальные паддинги,
это половина от расстояния между блоками
*/

section {
  padding: 8px 0 80px 0;
}

.not-valid {
  //outline: 3px solid tomato;
  box-shadow: 0 0 0 3px tomato;
}
