$dark: #000000;
$dark2: #181818;
$light: #FFFFFF;

$primary: #F87C09;
$primary-dark: #AEAAAA;
$primary-light: #FF922E;

$secondary: #EAEAEA;
$secondary-dark: #6B6B6B;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin font($name, $weight) {
  @font-face {
    font: {
      family: $name;
      weight: $weight;
      display: swap;
    }
    src: url("../assets/fonts/#{ $name }-#{ $weight }.woff2") format("woff2"),
    url("../assets/fonts/#{ $name }-#{ $weight }.woff") format("woff");
  }
}
